:root {
    --primary: #9b15f4;
    --secondary: #bbd0ff;
    /* --light-bg-color: #1e1f21;
    --dark-accent: #3c096c;
    --highlight-color: #5a189a;
    --accent-color: #9d4edd;
    --light-accent: #f8ebff;
    --dark-gray: #28282a;
    --gray: #4e4e50;
    --light-gray: #f3f5f7;
    --white: #ffffff;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Work Sans', sans-serif; */
}

<<<<<<< HEAD
=======


>>>>>>> c09695bdc88c44dbd1267bd5c4a581258ec18fd9
body {
    min-height: 100vh;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
<<<<<<< HEAD
}
=======
}
>>>>>>> c09695bdc88c44dbd1267bd5c4a581258ec18fd9
